/* Section/Article */

	section {
		margin: 1em 0 1em 0;
	}

		section:first-child {
			margin-top: 0;
		}

/* Header */

	#header {
		display: none;
	}

/* Main */

	#main {
		padding: 5em 0;
		margin: -4.5em -1.125em;
	}

		#main #projects {
			margin-top: -0.95em;
		}

	body.index #main {
		padding-top: 4.5em;
	}

/* CTA */

	#cta {
		margin: 0;
		margin-top: -0.9em;
	}

/* Footer */

	#footer {
		padding: 4em 1.5em;
		margin-bottom: -5em;
	}