/*@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");*/

/* Includes general tag styles, section/articles, and images */

	/* Uncomment to see box model overview */
/*	article, section, nav, ul, li, p, a, div, h2, h3, img {
		border: solid 1px red;
	}*/

	body, #skel-layers-wrapper {
		background: #f3f6fa;
	}

	body, input, select, textarea {
		color: #333;
		font-family: 'Lato', sans-serif;
		font-size: 15pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.75em;
	}

	a {
		color: #3fb1a3;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	p, ul {		
		font-size: 1.25em;
	}

	h1, h2, h3 {
		font-weight: bold;
		line-height: 1.75em;
		text-align: center;
	}

	h2 {
		font-size: 2.5em;
		letter-spacing: 0.1em;
		margin-top: 1em;
	}

	h3 {
		font-size: 1.75em;
		letter-spacing: 0.025em;
		margin-bottom: 2.5em;
	}


/* Section/Article */
	section.special, article.special {
		text-align: center;
	}

/* Image */
	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

/* Styles for social media icons and buttons */

/* Icon */
	.icon {
		position: relative;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon.circle {
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		}

			.icon.circle:hover {
				top: -0.2em;
			}

			.icon.circle.fa-twitter {
				background: #33CCFF;
				color: white;
			}

				.icon.circle.fa-twitter:hover {
					background: #44ddFF;
				}

			.icon.circle.fa-facebook {
				background: #3B5998;
				color: white;
			}

				.icon.circle.fa-facebook:hover {
					background: #4c6aa9;
				}

			.icon.circle.fa-github {
				background: #ff9933;
				color: white;
			}

				.icon.circle.fa-github:hover {
					background: #ffaa44;
				}

			.icon.circle.fa-tumblr {
				background: #2B4964;
				color: white;
			}

				.icon.circle.fa-tumblr:hover {
					background: #3c5a75;
				}

			.icon.circle.fa-linkedin {
				background: #007bb6;
				color: white;
			}

				.icon.circle.fa-linkedin:hover {
					background: #118cc7;
				}

		.icon > .label {
			display: none;
		}

/* List */
	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding-left: 0.5em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

/* Button */
	.button {
		border: solid 1px;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		line-height: 3.75em;
		min-width: 18em;
	}

		.button.special {
			background: #3fb1a3;
			border-color: #3fb1a3;
			color: white !important;
		}

			.button.special:hover {
				background: #4fc2b4 !important;
				border-color: #4fc2b4 !important;
			}


/* Styles for header and navigation */

/* Header */
	@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

	#header { 
		position: fixed;
		top: 0;
		left: 0;
		width: 20%;
		height: 100%;
		background: #333;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
		text-align: right;
	}

		#header img {
			margin-top: 1em;
			border-radius: 100%;
			max-width: 30%;
		}

		#header .small {
			font-size: .9em;
			margin-bottom: 6em;
		}

		#header nav {
			position: absolute;
			letter-spacing: 0.075em;
			right: 1.5em;
			top: 0.75em;
			width: 100%;
		}

			#header nav ul li a {
				display: inline-block;
				color: white;
				border: solid 1px transparent;
				padding: 0.6em 0.75em;
				line-height: 1em;
				text-decoration: none;
				width: 90%;
			}

			#header nav ul li.active > a, #header nav ul li:hover > a {
				background: rgba(188, 202, 206, 0.15);
			}

			#header nav ul li.active > a {
				font-weight: 900;
			}

		#header.reveal {
			-moz-animation: reveal-header 0.5s;
			-webkit-animation: reveal-header 0.5s;
			-o-animation: reveal-header 0.5s;
			-ms-animation: reveal-header 0.5s;
			animation: reveal-header 0.5s;
		}

/* Nav */
	#nav .left {
		float: left;
	}

	#nav .right {
		float: right;
		font-size: .8em;
	}

	#nav p {
		color: white;
	}


/* Styles for sections under main (about, projects, skills) */

/* LEFT OFF HERE */
/* Main */
	#main {
		margin-left: 20%;
		position: relative;
	}

		#main section {
			overflow: hidden;
			border-bottom: 1px solid #999;
			padding: 5em 0;
			text-align: center;
			width: 100%;
		}

			#main .sub-header {
				margin: -1em 0 1em;
			}

			#main #about {
				background-image: url("../images/beach.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				padding: 3em 0;
				width: 100%;
				height: 900px;
				font-size: 1.1em;
			}

		#projects, #cta {
			color: #333;
			background: radial-gradient(#eee, #aaa);
			font-size: 1.15em;
		}

			#projects img, #projects p {
				max-width: 85%;
				margin: 1.5em;
			}

			#projects p {
				max-width: 100%;
				font-size: 1.25em;
			}

			#projects h3 {
				margin: 0 auto;
			}

		#skills {
			background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
			background-position: top left, top right, bottom left, bottom right;
			background-repeat: no-repeat;
		}

			#skills img {
				max-width: 75%;
				margin: 0.5em;
			}

			#skills .my-label {
				background-color: #eee;
				font-size: 1.5em;
				margin: 5% 0 0 12.5%;
				width: 75%;
			}


/* Styles for contact info and footer */

/* CTA */

	#cta {
		padding: 5em;
		text-align: center;
	}

		#cta header {
			margin-bottom: 2em;
		}

/* Footer */

	#footer {
		background: #e8eef4;
		color: #7c8081;
		text-align: center;
		padding: 5em 5em 10em 5em;
		bottom: 0;
	}

		#footer .copyright {
			background: inherit;
			font-size: 0.8em;
			line-height: 1em;
			width: 100%;
		}

			#footer .copyright a {
				color: inherit;
			}

			#footer .copyright li {
				display: inline-block;
				margin: 1em 1em -1em;
				padding: 1em;
			}