/* Styles for sections under main (about, projects, skills) */

/* Main */
	#main {
		margin-left: 20%;
		position: relative;
	}

		#main section {
			border-bottom: 1px solid #999;
			overflow: hidden;
			padding: 5em 0;
			text-align: center;
			width: 100%;
		}

			#main .sub-header {
				margin: -1em 0 1em;
			}

			#main #about {
				background: url("../../images/beach.jpg"), no-repeat;
				background-size: cover;
				font-size: 1.1em;
				
				height: 900px;
				padding: 3em 0;
				width: 100%;
			}

		#projects, #cta {
			background: radial-gradient(#eee, #aaa);
			color: #333;
			font-size: 1.15em;
		}

			#projects img, #projects p {
				margin: 1.5em;
				max-width: 85%;
			}

			#projects p {
				font-size: 1.25em;
				max-width: 100%;
			}

			#projects h3 {
				margin: 0 auto;
			}

		#skills {
			background-image: url("../images/dark-tl.svg"), url("../images/dark-tr.svg"), url("../images/dark-bl.svg"), url("../images/dark-br.svg");
			background-position: top left, top right, bottom left, bottom right;
			background-repeat: no-repeat;
		}

			#skills img {
				margin: 0.5em;
				max-width: 75%;
			}

			#skills .my-label {
				background-color: #eee;
				font-size: 1.5em;
				margin: 5% 0 0 12.5%;
				width: 75%;
			}